.formInput
{
    display: flex;
    flex-direction: column;
    width: 280px;
}
.enter{
    padding: 15px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid gray;
}
.label
{
    font-size: 15px;
    color: rgb(13, 12, 12);
    text-align: justify;
}
.span{
    font-size: 12px;
    padding:3px;
    color:red;
    display: none;
}
 /* .enter:invalid[focused="true"] 
{
    border: 1px solid red;
}
.enter:invalid[focused="true"]~span{
    display: block;
}  */